@import './config/reset.css';
@import './config/variables.css'; 

html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}